/*Основная часть*/
@charset "UTF-8";
* {
  margin: 0; /*Внешний отступ*/
  padding: 0;
  outline: none;
}
html {
  height: 100%;
}

/*Применяем стили самым основным тегам, чтобы потом не заморачиваться*/
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ff5050 0%, #cc3399 100%);
  color: black;
  font-family: "Noto Sans";
  font-size: 1em;
  line-height: 135%;
  float: left;
  background-image: url(../img/background.jpg);
  background-size: contain;
}
a {
  color: #3d48e2cc;
  text-decoration: none;
  font-family: "Roboto";
}
a:hover {
  border-top: 2px solid rgb(255, 255, 255);
}
.clear {
  clear: both;
}

/*Стили для Шапки ( header )*/
header {
  width: 98%;
  float: left;
  padding: 1%; /*Устанавливает внутренние отступы/поля со всех сторон элемента.*/
  background-color: #6d71ee;
  border-bottom: dashed #ffffff; /*Описывает нижнюю границу элемента border , dashed делает пунктирную линию*/
  font-size: 1.4em;
  margin-bottom: 10px;
}
header #logo {
  width: 30%;
  float: left;
}
header #logo img {
  width: 80px;
  float: right;
  border-radius: 70%;
}
header #favanime {
  width: 30%;
  float: left;
  text-align: center;
}
header #reg {
  width: 30%;
  float: left;
  text-align: left;
}
header #favanime a,
header #reg a {
  color: #ffffffcc;
  text-decoration: none;
  font-family: "Raleway";
}

/*Стили для центра ( main )*/
main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  font-family: "Raleway";
  color: #ffffffcc;
  padding: 1%;
}

/*Стили для центра 1 страница 1 половина сайта( main )*/
main #stcol ol {
  padding: 1%;
}
main #stcol {
  width: 60%;
  float: left;
  background-color: #6d71ee;
  padding: 1%;
  line-height: 2em;
}
main #stcol #table {
  width: 40%;
  border: 1px solid;
  padding: 1%;
  line-height: 1.5em;
}
main #stcol #table h4 {
  text-align: center;
}
table,
th,
td {
  border: 1px solid;
  padding: 2px;
}
main #stcol #more {
  width: 20%;
  float: left;
  background-color: #575757;
  font-size: 0.8;
  border-radius: 10px;
  text-align: center;
}
main #stcol div a {
  color: #ffffffcc;
  text-decoration: none;
}
main #stcol #more:hover {
  background-color: #575757;
}

main #stcol1 ol {
  padding: 1%;
}
main #stcol1 {
  width: 60%;
  float: left;
  background-color: #6d71ee;
  padding: 1%;
  line-height: 2em;
}
main #stcol1 #table {
  width: 40%;
  border: 1px solid;
  padding: 1%;
  line-height: 1.5em;
}
main #stcol1 #table h4 {
  text-align: center;
}
table,
th,
td {
  border: 1px solid;
  padding: 2px;
}
main #stcol1 #more {
  width: 20%;
  float: left;
  background-color: #575757;
  font-size: 0.8;
  border-radius: 10px;
  text-align: center;
}
main #stcol1 div a {
  color: #ffffffcc;
  text-decoration: none;
}
main #stcol1 #more:hover {
  background-color: #575757;
}
iframe {
  width: "560";
  height: "315";
}

/*Стили для центра 1 страница 2 половина сайта( main )*/
main #ndcol {
  width: 30%;
  float: right;
  background-color: #6d71ee;
  padding: 1%;
}
main #ndcol p {
  text-align: center;
  font-family: "Raleway";
  font-size: 1.2em;
  line-height: 1em;
  padding: 1%;
}
main #ndcol img {
  width: 100%;
  float: left;
  background-color: #6d71ee;
}

/*Стили для центра 3 страница( main )*/
main #regi {
  width: 36%;
  margin-left: 30%;
  margin-right: 30%;
  height: 800px;
  color: #ffffffcc;
  padding: 1%;
  background-color: #6d71ee;
  line-height: 2em;
}
main #regi h1 {
  text-align: center;
  font-family: "Caveat" "cursive";
}
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.text-field {
  margin-bottom: 1rem;
}
.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}
.text-field__input {
  display: block; /*устанавливает блочное отображение*/
  width: 95%; /*занимает всю доступную ширину*/
  height: calc(
    2.25rem + 2px
  ); /*высота элемента определяется путём сложения 2.25rem (font-size * line-height + padding-top + padding-bottom) и 2px (ширина верхней и нижней границы);*/
  padding: 0.375rem 0.75rem; /*внутренние поля: сверху и снизу – 0.375rem, а слева и справа – 0.75rem*/
  font-family: inherit; /* */
  font-size: 1rem; /*устанавливает явный размер шрифта, иначе будет браться из стилей браузера*/
  font-weight: 400; /*задаёт начертание шрифта*/
  line-height: 1.5; /*высота строки (1.5 * размер шрифта)*/
  color: #212529; /*цвет шрифта*/
  background-color: #fff; /* */
  background-clip: padding-box; /* */
  border: 1px solid #bdbdbd; /*устанавливает границу, у которой: 1px (толщина), solid (тип линии) и #bdbdbd (цвет)*/
  border-radius: 0.25rem; /*радиус скругления углов*/
}
.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}
button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
/*Стили для центра 2 страница( main )*/
main #anist {
  float: left;
  background-color: #6d71ee;
  line-height: 2em;
  width: 90%;
  margin-left: 3%;
  margin-right: 3%;
  font-family: "Raleway";
  color: #ffffffcc;
  padding: 1%;
}
main #anist #table {
  width: 40%;
  border: 1px solid;
  padding: 1%;
  line-height: 1.5em;
}
main #anist div a {
  color: #ffffffcc;
  text-decoration: none;
}
main #anist #table h4 {
  text-align: center;
}
main #anist img {
  width: 40%;
  padding: 1%;
}

/*Стили для футера ( footer )*/
footer {
  width: 98%;
  float: left;
  padding: 1%;
  background-color: #6d71ee;
  border-top: dashed #ffffff;
  margin-top: 10px;
  font-family: "Raleway";
  color: #ffffffcc;
}
footer #social {
  float: left;
  width: 100%;
}
footer #social img {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
}
footer #rights {
  float: right;
  width: 50%;
  font-size: 1em;
  text-align: right;
}
footer #rights p:hover {
  border-top: 2px solid rgb(255, 255, 255);
  width: 25%;
  float: right;
}
